[Unit]
Description=Motion Detection Service
After=network.target

[Service]
ExecStart=/home/michael/Projects/mrpir/venv/bin/python /home/pi/Projects/mrpir/main.py
WorkingDirectory=/home/michael/Projects/mrpir
EnvironmentFile=/home/michael/.mrpir/config/.env
StandardOutput=inherit
StandardError=inherit
Restart=always
Type=notify
NotifyAccess=all
WatchdogSec=90s  # Optional: Set a watchdog timer if desired

[Install]
WantedBy=default.target
